<html>
   <body>
      
      <form action = "http://127.0.0.1:8080/process_post" method = "POST"
      enctype = "multipart/form-data">
         Title: <input type = "text" name = "title" size="25">  <br>
         Director: <input type = "text" name = "director" size="21"><br>
         Year: <input type = "text" name = "year" size="10"><br>
         Image: <input type="file" id "file" name="file" size="50" />
         <br>
         <input type = "submit" value = "Submit">
      </form>
      
   </body>
</html>